<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách khám bệnh</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
<div class="container mx-auto p-6 w-full">
  <h1 class="text-4xl font-extrabold text-center text-gray-800 mb-8">DANH SÁCH KHÁM BỆNH</h1>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white rounded-lg shadow-lg overflow-hidden" id="table-patients">
      <thead>
      <tr class="bg-gradient-to-r from-green-400 to-blue-500 text-white uppercase text-lg md:text-3xl leading-normal">
        <th class="py-3 md:py-4 px-3 md:px-6 text-left">STT</th>
        <th class="py-3 md:py-4 px-3 md:px-6 text-left">Tên</th>
        <th class="py-3 md:py-4 px-3 md:px-6 text-left">Tuổi</th>
        <th class="py-3 md:py-4 px-3 md:px-6 text-left">Giới tính</th>
        <th class="py-3 md:py-4 px-3 md:px-6 text-left">Phòng</th>
        <th class="py-3 md:py-4 px-3 md:px-6 text-left">Bác sĩ</th>
        <th class="py-3 md:py-4 px-3 md:px-6 text-left">Trạng Thái</th>
      </tr>
      </thead>
      <tbody class="text-gray-700 text-lg md:text-3xl font-light">
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div id="pagination" class="mt-4 flex justify-center">
  </div>

</div>
</body>
</html>

<script>
  let ws;
  if (window.WebSocket === undefined) {
    console.log("Your browser does not support WebSockets")
  } else {
    ws = initWS();
  }

  function initWS() {
    let socket = new WebSocket("ws://" + window.location.host + "/v1/patient/1")

    socket.onopen = function() {
      console.log("Socket is open")
    };

    // receive data from server
    socket.onmessage = function (e) {
      console.log(JSON.parse(e.data).data)
      pushNewPatient(JSON.parse(e.data).data)
    }

    // close socket
    socket.onclose = function () {
      console.log("Socket closed")
    }

    return socket;
  }

  function pushNewPatient(patient) {
    let patients = JSON.parse(localStorage.getItem("patients"))
    patients.push(patient)
    localStorage.setItem("patients", JSON.stringify(patients))

    if (patients.length < 10) {
      let tr_content = "";
      tr_content += `<tr class="border-b border-gray-200 hover:bg-gray-100 transition duration-300">
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${++document.querySelector("#table-patients>tbody").rows.length}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.name}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.age}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.sex}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.room_number}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.doctor_name}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.status}</td>
      </tr>`


      document.querySelector(
              "#table-patients>tbody"
      ).innerHTML += `<tbody class="bg-white">${tr_content}</tbody>`;
    }

    genPagination(patients)
  }

  function generate(patients) {
    document.querySelector("#table-patients>tbody").innerHTML = ""
    let tr_content = "";
    for (const patient of patients) {
      tr_content += `<tr class="border-b border-gray-200 hover:bg-gray-100 transition duration-300">
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${++document.querySelector("#table-patients>tbody").rows.length}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.name}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.age}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.sex}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.room_number}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.doctor_name}</td>
        <td class="py-3 md:py-4 px-3 md:px-6 text-left">${patient.status}</td>
      </tr>`


      document.querySelector(
              "#table-patients>tbody"
      ).innerHTML = `<tbody class="bg-white">${tr_content}</tbody>`;
    }

    // genPagination(JSON.parse(localStorage.getItem("patients")))
  }

  let currentPage = 1;
  function genPagination(patients) {
    const totalPages = Math.ceil(patients.length / 10);
    const pagination = document.getElementById('pagination');
    pagination.innerHTML = "";

    generate(patients)

    // for (let i = 1; i <= totalPages; i++) {
    //   const pageButton = document.createElement('button');
    //   pageButton.innerText = i.toString();
    //   pageButton.className = `mx-1 px-3 py-1 rounded ${currentPage === i ? 'bg-blue-500 text-white' : 'bg-gray-300'} hover:bg-blue-400`;
    //   pageButton.onclick = () => {
    //     currentPage = i
    //     const startIndex = (currentPage - 1) * 10;
    //     const endIndex = startIndex + 10;
    //     const paginatedPatients = patients.slice(startIndex, endIndex);
    //     generate(paginatedPatients)
    //   };
    //   pagination.appendChild(pageButton);
    // }
  }

  async function getPatients(start_date, limit, page) {
    let records = []
    const requestOptions = {
      method: "GET",
      redirect: "follow"
    };

    await fetch(window.location.protocol + "//" + window.location.host + "/v1/patient/list?start_date=" +
            start_date + "&limit=" + limit + "&page=" + page, requestOptions)
            .then((response) => {
              if (response.status === 500) {
                return
              }

              return response.json()
            })
            .then((result) => {
              records = result.data.records
            })
            .catch((error) => console.error(error));

    return records
  }

  function getToday() {
    const today = new Date();
    const yyyy = today.getFullYear();
    const mm = String(today.getMonth() + 1).padStart(2, '0');
    const dd = String(today.getDate()).padStart(2, '0');

    return `${yyyy}-${mm}-${dd}`;
  }

  window.addEventListener("load", async (event) => {
    // call api get patients today
    let patients = await getPatients(getToday(), 1000, 1)
    localStorage.setItem("patients", JSON.stringify(patients))
    genPagination(patients)
  })
</script>